---
import DefaultLayout from "@layouts/Default.astro";
import PageHeading from "@components/PageHeading.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<PageHeading title="Blog" />
  <section>
    <ul class="flex flex-col gap-4 dark:text-white">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`} class="flex flex-col">
              <p class="text-2xl">{post.data.title}</p>
              <time datetime={post.data.pubDate.toISOString()} class="text-sm">
                {post.data.pubDate.toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
