---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import ProseContainer from "@components/ProseContainer.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.svelte";
import ThemeProvider from "./ThemeProvider.astro";
import VercelAudienceAnalytics from "@components/VercelAudienceAnalytics.astro";
import Heading from '@components/post/Heading.svelte';

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ThemeProvider />
	<VercelAudienceAnalytics />
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">
    <Header />
    <main class="container mx-auto p-5">
      <article class="flex flex-col md:items-center">
        <Heading
          title={title}
          pubDate={pubDate}
          updatedDate={updatedDate}
        />
        <ProseContainer>
          <slot />
        </ProseContainer>
      </article>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
	section[data-footnotes] > ol > li > p > a {
		@apply break-all;
	}
</style>